<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <title>School- Website</title>

  </head>

  <body>
    <header id="header_page">
      <h1>SCHOOL REGISTRATION</h1>
    </header>
    
    <br><br>

    <section id="body_page">
      <h2>This is new home for <%= title %></h2>
      <br>
      <h3>Let's Get Started!</h3>
      <br>
      <div class="page">
        <ul id="list">
          <li><a href="/teachers">Teacher</a></li>
          <li><a href="/students">Student</a></li>
        </ul>
      </div>

    </section>

  </body>
</html>