<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>School Front Page</title>
  <link rel="stylesheet" href="">
</head>

<body>
  <h1><%=home%></h1>
  <div>
    <h2><%=paragraph%></h2>
    <li><a href="/students">Students</a></li>
    <li><a href="/teachers">Teachers</a></li>
  </div>
</body>

</html>
