<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>School Webpage</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
    <h3><%= links %></h3>
    <li><a href="/student">Student Registration</a></li>
    <li><a href="/teachers">Teachers List</a></li>
  </body>
</html>
