<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>Students Data</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <h1>Students Data</h1>
    <table border="2">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Email</th>
                    </tr>
                    <tr>
                        <td>
                            <%= firstname %>
                        </td>
                        <td>
                            <%= lastname %>
                        </td>
                        <td>
                            <%= gender %>
                        </td>
                        <td>
                            <%= email %>
                        </td>
            
                    </tr>
                </table><br><br>
                <a href="/">Back to Home</a>
</body>
</html>