<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student</title>
  </head>
  <body>
    <h1>Student</h1>
    <form action="/student/add" method="POST">
      <label for="name">Nama :</label>
      <input type="text">
      <label for="email">Email :</label>
      <input type="email">
      <button>Submit</button>
    </form>
    <br>
    <a href="/">Back</a>
  </body>
</html>
