<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>PERSIB ACADEMY</h1>
    <h2>from student</h2>
    <form action="/student" method="POST">
        nama student : <br>
        <input type="text" name="nama"><br>
        alamat : <br>
        <input type="text" name="alamat" id=""><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>