<!DOCTYPE html>
<html lang="en">
<head>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-0Mou2qXGeXK7k/Ue/a1hspEVcEP2zCpoQZw8/MPeUgISww+VmDJcy2ri9tX0a6iy" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student</title>
</head>
<body>
    <h1>Student</h1>

    <form class="form-group" action="/student" method="POST">
        First name:<br>
        <input type="text" name="firstname" placeholder="first_name">
        <br>
        Last name:<br>
        <input type="text" name="lastname" placeholder="last_name">
        <br><br>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form> 
      
    
</body>
</html>