<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Page</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
    <form action="/student" method="post">
      Username:<br>
      <input type="text" name="username" placeholder="username"><br>
      Password:<br>
      <input type="password" name="password" placeholder="password"><br><br>
      <button type="submit">submit data</button>
    </form>
    <br><br><br><br>
    <h3><%= links %></h3>
    <li><a href= "/">home</a></li>
  </body>
</html>
