<html>
<head>
  <title>Hacktiv8 Student Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body style="padding: 50px 0px">
  <div class="container">
    <h2>Student Form</h2>
  </div>
  <div class="container">
    <form action="/student" method="post">
      <div class="form-group">
        <label for="inputFirstname">First Name</label>
        <input type="text" class="form-control" name="inputFirstname" placeholder="Your first name">
      </div>
      <div class="form-group">
        <label for="inputLastname">Last Name</label>
        <input type="text" class="form-control" name="inputLastname" placeholder="Your last name">
      </div>
      <div class="form-group">
        <label for="inputGender">Gender</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="inputGender" value="Male">
          <label class="form-check-label" for="inlineCheckbox1">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="inputGender" value="Female">
          <label class="form-check-label" for="inlineCheckbox2">Female</label>
        </div>
      </div>
      <div class="form-group">
        <label for="inputDOB">Date of Birthday</label>
        <input type="date" class="form-control" name="inputDOB" placeholder="Enter Date of Birthday">
      </div>
      <div class="form-group">
        <label for="inputEmail">Email Address</label>
        <input type="email" class="form-control" name="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="inputPhone">Phone Number</label>
        <input type="text" class="form-control" name="inputPhone" placeholder="Phone number">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>
