<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>FORM STUDENT</h1> 
    <br>
    <br>
    <form action="/student" method='POST'>
        <label>
            Name :
            <input type="text" name="name">
        </label><br><br> 
        <label>
            Email :
            <input type="email" name="email">
        </label><br><br> 
        <button>SUBMIT</button>
    

    </form>
</body>
</html>