<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Form</title>
  </head>
  <body>
    <h1>Student Form</h1>
    <h2>Your account:</h2>
    <p>username: <%= username%><br>password: <%= password %></p>
    <br><br><br><br>
    <h3><%= links %></h3>
    <li><a href= "/">home</a></li>
  </body>
</html>
