<html>
  <head>
    <title>Student Form</title>
  </head>
  <body>
    <h2><a href="/">Home</a></h2>
    <br>
    <form action="/student" method="POST">
      First name: <br/>
      <input type="text" name="firstName"> <br/>
      Last name: <br/>
      <input type="text" name="lastName"> <br/>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
