<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
            table {
                border: 2px solid black;
            }
            th,td {
                border: 1px solid black;
            }
        </style>
</head>
<body>
    <h1>PERSIB ACADEMY</h1>

    <table>
        <tr>
            <th>Nama</th>
            <th>Mata Pelajaran</th>
        </tr>
        <tr>
            <th>Yusman</th>
            <th>B. Indonesia</th>
        </tr>
        <tr>
            <th>Nita</th>
            <th>Matematika</th>
        </tr>
        <tr>
            <th>Handoko</th>
            <th>Fisik</th>
        </tr>
    </table>
</body>
</html>