<html>
  <head>
    <title>Teachers Data</title>
  </head>
  <body>
    <h2><a href="/">Home</a></h2>
    <br>
  <table>
    <thead>
      <tr>
        <th>Teacher Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <% teachers.forEach(teacher => { %>
      <tr>
        <td><%= teacher.name%></td>
        <td><%= teacher.age%></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <br>
  </body>
</html>