<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>Teachers List</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <table border="2">
        <p>
            <%= message %>
        </p>
        <br>
        <thead>
            <th>Name</th>
            <th>Department</th>
            <th>Email</th>
        </thead>

        <tbody>
            <tr>
                <td>Nancy Tilding</td>
                <td>Chemistry</td>
                <td>sciencephy@faculty.com</td>
            </tr>
            <tr>
                <td>Kevin Bronson</td>
                <td>P.E</td>
                <td>sportsman@faculty.com</td>
            </tr>
            <tr>
                <td>Prudence Cahill</td>
                <td>English</td>
                <td>englishlang@faculty.com</td>
            </tr>
            <tr>
                <td>Andrew Lim</td>
                <td>Mathematics</td>
                <td>calcman@faculty.com</td>
            </tr>
            <tr>
                <td>Mark Russell</td>
                <td>Music</td>
                <td>tunes@faculty.com</td>
            </tr>
        </tbody>
    </table><br><br><br>
    <a href="/">Back to Home</a>
</body>

</html>