<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Teacher Table</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Pelajaran</th>
  </tr>
  <tr>
    <td>Maria</td>
    <td>Maria@mail.com</td>
    <td>Biologi</td>
  </tr>
  <tr>
    <td>Kusuma</td>
    <td>Kusuma@mail.com</td>
    <td>Matematika</td>
  </tr>
  <tr>
    <td>Joko</td>
    <td>joko@mil.com</td>
    <td>Fisika</td>
  </tr>
</table>

</body>
</html>
