<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border: 2px solid black;
            border-collapse: collapse;
        }

        th,td {
            border: 1px solid black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Teachers</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Lesson</th>
        </tr>
        <tr>
            <td>Budi</td>
            <td>Matematika</td>
        </tr>
        <tr>
            <td>Ani</td>
            <td>Fisika</td>
        </tr>
        <tr>
            <td>Umar</td>
            <td>Biologi</td>
        </tr>
    </table>
</body>
</html>