<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
            table {
                border: 2px solid black;
            }
            th,td {
                border: 1px solid black;
            }
        </style>
</head>
<body>
    <h1>PERSIB ACADEMY</h1>

    <table>
        <tr>
            <th>Nama</th>
            <th>Mata Pelajaran</th>
        </tr>
        <tr>
            <td>Yusman</td>
            <td>B. Indonesia</td>
        </tr>
        <tr>
            <td>Nita</td>
            <td>Matematika</td>
        </tr>
        <tr>
            <td>Handoko</td>
            <td>Fisik</td>
        </tr>
    </table>
</body>
</html>