<!DOCTYPE html>
<html lang="en">
<head>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-0Mou2qXGeXK7k/Ue/a1hspEVcEP2zCpoQZw8/MPeUgISww+VmDJcy2ri9tX0a6iy" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teachers</title>
</head>
<body>
    <%- include('../partial/navigation.ejs') %>
    <h1>Teachers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>first name</th>
                <th>last name</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < 10; i++){ %>
                <tr>
                    <td><%- i+1 %></td>
                    <td>first name</td>
                    <td>last name </td>
                </tr>
            <% } %>   
        </tbody>
    </table>
</body>
</html>