<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Teacher's Page</title>
  </head>
  <body>
    <h1>Teachers List</h1>
    <p><%= data %></p>
    <br><br><br><br>
    <h3><%= links %></h3>
    <li><a href= "/">home</a></li>
  </body>
</html>
