<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Student</title>
</head>
<body>
    <h1>Input student data</h1>
    <form action="/student" method="post">
    First name:
    <br>
    <input type="text" name="firstName">
    Last name:
    <br>
    <input type="text" name="lastName">
    Email:
    <br>
    <input type="text" name="email">
    <input type="submit" value="Submit">
    </form>

</body>
</html>